.canvas{
  width: 500px;
  height: 600px;
  background-color: gray;
  overflow: hidden;
  filter: blur(2px);
}

.frame{
  width: 500px;
  margin: 20px auto;
  border: 50px solid black;
  padding: 50px;

}
.one{
  width: 415px;
  height: 120px;
  background-color: white;
  margin: 20px auto;
  border-radius: 7px;
  filter: blur(3px);
  box-shadow: 0 0 3px 3px;
  transform: rotate(-0.2deg);
}

.two{
  width: 420;
  height: 200px;
  background-color: maroon;
  margin: 20px;
  border-radius: 10px;
  filter: blur(2px);
}

.three{
  width: 91%;
  height: 25%;
  background-color: #333d29;
  margin: 20px auto;
  border-radius: 30px 30px 60px 12px;
  filter: blur(3px);
}

.one, .two{
  filter: blur(1px);
}
